TABLE.ITS_backtrace{position:relative;vertical-align:middle;background-color:#ee9}
TABLE.ITS_backtrace td{position:relative;height:auto;text-align:left;vertical-align:bottom;font-size:12pt;padding:0 3px}
