#container{position:relative;background:#fff;margin-left:auto;margin-right:auto;width:50em}
#header{background:#fff;height:30px;margin:0;padding:0}
#header h1{margin:0}
#navigation{position:relative;float:right;width:100%;height:10%;background:#fff}
#navigation ul{margin:0;padding:0}
#navigation ul li{list-style-type:none;display:inline;vertical-align:middle;margin:0 .5em}
#navigation li a{display:block;float:right;color:#666;background:#fff;text-decoration:none;-webkit-border-radius:10px;-moz-border-radius:10px;border-radius:10px;border:2px solid #999;outline:0;padding:5px 10px}
#navigation li a:hover{color:#000;border-color:#FFD700}
#content{clear:left;color:#555;border-top:2px solid #999;margin:0;padding:10% 5%}
#content h2{color:#000;font-size:120%;margin:0 0 .5em}
ul.list_intro li{font-size:18pt;list-style-type:square;padding:.5em}
div.loginContainer{background:#fff;color:#999}
input{border:2px solid #999;padding:.25em}
input:focus{border:2px solid #000;color:#000}
#footer{position:relative;background:#fff;text-align:right;color:#777;width:100%;bottom:0;border-top:2px solid #999;padding:15px 0}
